    
        body {
            font-family: 'Tajawal', sans-serif;
            background-color: #ffffff;
            color: #333;
        }
        .header-box {
            background-color: #ff2a00; /* لون جيب */
            padding: 20px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        .back-btn {
            position: absolute;
            right: 20px;
            top: 25px;
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
        .content-section {
            padding: 30px 20px;
        }
        .term-item {
            margin-bottom: 25px;
        }
        .term-title {
            color: #000;
            font-weight: 700;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .term-title::before {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #d03b15;
            border-radius: 50%;
            margin-left: 10px;
        }
        .term-text {
            font-size: 0.95rem;
            line-height: 1.6;
            color: #666;
            text-align: justify;
        }
        .accept-btn {
            background-color: #ff2a00;
            color: #070100;
            border-radius: 15px;
            padding: 12px;
            font-weight: bold;
            width: 100%;
            border: none;
            margin-top: 20px;
        }
    